<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>FORMULARIO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro</h1>
    </div>
    
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>
    
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>
        <form name="form" id="form" action="{% if db %}/update/{{db.cnpj}}/{%else%}/create/{% endif %}" method="POST">
            {% csrf_token %}
            <div class="form-group mt-4">CNPJ: {{form.cnpj}}</div>
            <div class="form-group mt-4">Nome real: {{form.nome_real}}</div>
            <div class="form-group mt-4">Nome fantasia: {{form.nome_fantasia}}</div>
            <div class="form-group mt-4">Telefone: {{form.telefone}}</div>
            <input style="margin-top: 10px;" type="submit" class="btn btn-success" value="Enviar">
        </form>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>